.editor-styles-wrapper .elodin-block-meta__value > p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.editor-styles-wrapper .elodin-block-meta__value > p + p {
	margin-block-start: var(--wp--style--block-gap, 1.5em);
}
